.nav-link{
    background-color:  rgb(62, 7, 66);
    color: white;
}
.main{
    justify-content: end;
}
.nav-link{
    color: gray;
}
.nav-link{
    transition: all 0.3s ease;
}

.nav-link:hover{
    color: white !important;
    text-shadow: 0 0 8px rgba(255,255,255,0.8);
}
.bgimage{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20240622/pngtree-running-and-sports-shoes-image_15805712.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imtext1{
    display: block;
    color: white;
    border-radius: 10px;
    padding: 100px;
    text-decoration: underline;
    font-family:monospace;
}
.card{
    height: 400px;
}
.card-img-top{
    height: 250px;
}
.About{
    padding: 20px;
    border-radius:10px;
    text-align:justify;
    background-color: white;
}
#end{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}
.About{
    background-color: rgb(247, 234, 234);
    padding: 20px;
}
.card{
    height: 400px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}
html{
    scroll-behavior: smooth;
}